.container{
    margin-top: 60px;
    margin-bottom: 15px;
}

.nva .b{
    background-color: #f8f9fa;
    border-radius: 20px;
    margin-right: 5px;
    transition-duration: 0.3s;
   
}
.nva .b:hover{
    background-color: #21B573;
    color: #f8f9fa;
}
.a{
    background-color: #f8f9fa;
    border-radius: 20px;
    margin-right: 5px;
    transition-duration: 0.3s;
     
}
.a:hover{
    background-color: rgb(0, 110, 255);
    color: #f8f9fa;
}

.lg{
    height: 25%;
    width: 25%;
   
}
.ban{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-left: -50px;
}
.high{
    width: 85px;
    height:40px;
    background-color: #21B573;
    border-radius: 33px;
    
}
.gig{
    color: #fff;
}
.nav-item a{
    color: #000;
}
.learn{
    width: 100%;
}
.ready{
    color:rgb(0, 110, 255);
    font-size: 18px;
    margin-bottom: 40px;
}
.any{
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.any span{
    color: #21B573;
}
.des{
    color: rgb(107, 107, 107);
    margin-bottom: 20px;
}
.get-btn{
    width: 153px;
    height: 43px;
    background-color: #21B573;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    transition-duration: 1s;
}
.get-btn:hover{
    box-shadow: 5px 5px 20px rgb(71, 71, 71);
}
.feed img{
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
}
.feed{
    text-align: center;
    

}
.feed p{
    color: gray;
}
.feed div{
    
    padding: 20px 20px;
    transition-duration: 1s;
    border-radius: 35px;
}
.feed div:hover{
    box-shadow: 5px 5px 30px rgb(71, 71, 71);
 
}
.on{
    text-align: center;
    font-weight: bold;
    color: rgb(36, 36, 36);
    margin-top: 30px;
}
.card-footer img{
    width: 7%;
    height: 7%;
    margin-left: -15px;
    margin-right: 5px;
}
.card-footer{
    border: none;
    background-color: #f8f9fa;
}
.card{
    border: none;
    padding: 10px;
    border: 0.5px solid #21B573;
    border-radius: 20px;
    transition-duration: 1s;
    
}
.card:hover {
    box-shadow: 5px 5px 20px #21B573;
}

.footb{
    background-color: #282531;
    height: 500px;
    color: #fff;
}
.lastin{
    width: 350px;
    text-align: center;
}
.course{
    margin-left: 420px;
    margin-top: -61px;
}
.terms{
    margin-left: 700px;
    margin-top: -175px;
}
.use{
    margin-left: 950px;
    margin-top: -175px;
}
.foot{
    background-color: #282531;
    color: rgb(209, 209, 209);
    height: 400px;
    padding-top: 35px;
    border-radius: 5px;
    margin-top: 100px;
}
body{
    background-color: #f8f9fa;
}